body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: #111;
  border-radius: 8px;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

form label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
  width: 100%;
  padding: 0.5rem;
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.checkbox-group {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

button {
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  width: max-content;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}

#msg {
  margin-top: 1rem;
  font-weight: bold;
}

@media (max-width: 600px) {
  .containe{
    width: 100%;
    padding: 0.5rem;
  }
  input{
    width: 90%;
  }
}