*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.equipments-bg-image{
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.equipment-image{
    width: 100%;
    max-width: 400px;
    height: 200px;
    transform: translateX(20vw);
    padding: 40px 10px;
}
.equipment-image img{
    width: 600px;
    height: 400px;
    transform: scale(2.3, 2.5);
    height: 100%;
}
.equipments-intro{
    padding: 10px 50px;
}
.equipments-intro h1{
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
}
.equipments-intro img{
    width: auto;
    height: 100%;
    padding: 30px 10px;
}
.equipments-intro-paragraphs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.equipments-intro-paragraphs p{
    letter-spacing: 0.9px;
    font-family: sans-serif;
    font-size: 18px;
}
.parks h1{
    text-transform: uppercase;
    font-size: 29px;
    font-style: italic;
}
.parks p{
    letter-spacing: normal;
}
.learn-card1{
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px 30px;
    margin-top: 1rem;
    border: none;
    color: white;
}
.learn-card1 a{
    color: white;
}
.learn-card1:hover{
    background-color: rgba(0, 0, 0, 0.788);
    transition: 0.5s;
}
/*HREF TAGS*/
a {
  color: inherit; /* or set a custom color like #ccc */
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.575); /* ultra-faint white */
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: #ccc;
  
}
/*HEREF TAGS*/
/*==========DOWNLOADS STYLINGS=================*/
.downloads-heading h1{
    padding: 30px 40px;
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}
.downloads{
    width: 200px;
    height: 50px;
}
.downloads img{
    width: auto;
    height: auto;
    padding: 5px 8px;
    border: 1px solid rgba(128, 128, 128, 0.384);
}
.download{
    width: 200px;
    height: 50px;
    display: flex;
    margin-top: 1rem;
    gap: 15px;
}
.download h3{
    font-size: 25px;
}
.left{
    margin-left: 2rem;
}
.download img{
    width: 20%;
    height: 90%;
}
.descriptions p{
    font-size: small;
}
.download-cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem; margin-bottom: 2rem;
    padding: 30px 10px;
}
.download-card{
    display: flex;
    text-align: start;
    flex-direction: column;
    gap: 30px;
}
.contain{
    display: flex;
    gap: 20px;
}
.scrutiny{
    padding: 20x 40px;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 600px;
}
.scrutiny-image{
    width: 100%;
    max-width: 80vw;
    height: 100%;
    padding: 10px 30px;
}
.scrutiny-image img{
    width: 100%;
    height: 100%;
}
.scrutiny h1{
    padding: 10px 30px;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
}
.professional h1{
    font-style: italic;
    text-transform: uppercase;
}
.professional-house{
    display: flex;
    padding: 20px 30px;
    gap: 20px;
}
.house1{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.professional{
    padding: 50px 60px;
}
.classes{
    display: flex;
    gap: 40px;
    margin-top: 2rem;
    width: 100%;
    background-color: transparent;
}
/*AUTODESK*/
.image-video-section {
  position: relative;                            /* enables layering */
  width: 100%;
  height: 100vh;                                 /* full screen height */
  background-image: url('/assets/autodeskbg.png');   /* your image path */
  background-size: contain;                      /* keeps image proportions */
  background-repeat: no-repeat;                  /* prevents tiling */
  background-position: center;            /* centers the image */
  display: flex;
  justify-content: center;                       /* centers video horizontally */
  align-items: center;                         /* centers video vertically */
  overflow: hidden;
}

.video-box {
  width: 640px;
  max-width: 90%;
  border: 2px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  z-index: 1;
}

.video-box video {
  width: 100%;
  height: auto;
  display: block;
}

/*sections*/
.sections{
    display: flex;
    justify-content: space-around;
}
.image{
    width: 100%;
    max-width: 600px;
    text-align: center;
}
.image img{
    width: auto;
    height: auto;
}
.car-section{
    width: 100%;
    max-width: 600px;
}
.house{
    background-color: white;
    color: #000;
}
/*paragraphs*/
.paragraphs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 40px;
}
.paragraphs p{
    font-size: 18px;
}
.paragraphs h4{
    font-size: medium;
}
.learning{
    display: flex;
    width: 100%;
    padding: 20px 40px;
    margin-bottom: 2rem;
    justify-content: space-between;
}
.learn-card{
    background-color: black;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.5s;
}
.learn-card:hover{
    background-color: gray;
}
.learn-card a{
    color: white;
    font-size: medium;
}
.learning-materials h1{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    padding: 20px 50px;
    font-style: italic;
}
.images-container{
    display: flex;
    align-items: center;
    padding: 20px 50px;
    justify-content: center;
}
.learning-image{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 350px;
    padding: 10px 10px;
}
.learning-image img{
    width: 100%;
    height: 60%;
}
.btn{
    padding: 10px 20px;
    width: max-content;
    height: max-content;
    border: 1px solid;
    background-color: gray;
    color: white;
    margin-top: 2rem;
}
.btn a{
    color: white;
}
#course{
  text-decoration: none;               /* remove default underline */
  border-bottom: 1px solid rgba(46, 44, 46, 0.411); /* faint white underline */
  padding-bottom: 2px;                 /* spacing between text and line */
  color: gray;                        /* or any color you prefer */
}

a{
    color: lightskyblue;
    font-weight: bold;
    text-decoration: none;
}
/*video-section*/
.split-media-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
}

.media {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.content{
    margin-top: 2rem;
    padding: 20px 5px;
    display: block;
    gap: 5px;
}
.content p{
    letter-spacing: 0.4px;
    color: #443;
}
.image-side img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border: 2px solid white;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.video-wrapper {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 16 / 9;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/*video-section*/
/*AUTODESK*/

/*ANYSYS*/
.ansybg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    background-color: white;
    height: 400px;
}
.ansybg img{
    width: 100%;
    transform: translateX(60%);
    height: 100%;
}
.ansy-intro h1{
    text-transform: uppercase;
    font-size: 55px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}
.paragraphs p{
    color: #113;
}
.paragraphs h4{
    border: 1px solid;
    width: max-content;
    font-size: medium;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    margin-bottom: 3rem;
}
.paragraphs h4 a{
    color: white;
}
.ansys-card{
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 2em;
}
.ansys-card p{
    color: #333;
}
.ansys-card img{
    width: 100%;
    height: 100%;
}
.ansys-cards{
    display: flex;
    gap: 30px;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
.ansys1-cards{
    display: flex;
    gap: 30px;
    padding: 50px 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.card-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.ansys-card h2{
    text-transform: uppercase;
    font-style: italic;
}
.ansys-ends{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: gray;
    font-weight: bold;
}
.ansys-ends p{
    padding-inline: 4px;
    letter-spacing: 0.8px;
}
.ansys-ends h4{
    font-weight: lighter;
}
#learn{
    padding: 20px 10px;
}
/*ANYSYS*/
@media (max-width: 768px) {
    .download-cards{
        flex-wrap: wrap;
    }
      .media {
    flex: 1 1 100%;
  }

  .image-side img,
  .video-wrapper {
    max-width: 100%;
  }
  .ansybg{
    height: 300px;
    width: 100%;
    max-width: 500px;
  }
  .ansybg img{
    width: 90%;
    transform: translateX(10%);
  }
  .sections, .images-container{
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .learning{
    flex-wrap: wrap;
  }
  .learn-card{
    width: max-content;
    margin: 1rem;
  }
  .car-section{
    padding: 10px 20px;
  }
  .models, .download-cards, .classes{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .classes{
    padding: 0;
    margin: 0;
  }
  .scrutiny{
    padding: 5PX;
    margin: 5PX;
    height: 400PX;
  }
  .scrutiny-image{
    width: 100%;
    height: 300px;
  }
  .scrutiny-image img{
    width: 90%;
    height: 100%;
  }
  .professional h1{
    margin: 1rem;
  }
  .equipment-image{
    transform: translateX(5vw);
  }
  .equipment-image img{
    transform: scale(1.5, 2);
  }
}