.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    margin-bottom: 2rem;
}
.form-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container h2{
    font-style: italic;
    color: white;
    font-weight: bold;
    font-size: 35px;
    padding: 10px 40px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
    margin-left: 40px;
    width: 100%;
    max-width: 600px;
}
form input, textarea{
    background-color: transparent;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.322);
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;

}
label{
    font-size: 14px;
    font-weight: bold;
}
textarea{
    height: 150px;
}
button{
    width: max-content;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    border: none;
}
button:hover{
    background-color: rgb(56, 50, 50);
    transition: 0.6s;
}



.checkbox-group{
    display: flex;
    padding: 20px 10px;
    gap: 10px;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    accent-color: #28a745; /* Green tick */
    border: 1px solid gray;
}

.btns {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btns a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  border: 1px solid;
  transition: background 0.3s ease;
}

.like-btn {
  background-color:  #1877F2;
  color: #e7f0ff;
}
.like-btn i {
  color: black;
}

.x-btn {
  background-color: transparent;
  color: #444;
}

.x-btn i {
  color: whitesmoke;
}

.btns a:hover {
  background-color: #3d5a94;
}
.more a{
  color: #1877F2;
  text-decoration: none;
}
.video{
  padding: 10px 30px;
}