body{
    font-family: 'Times New Roman', Times, serif;
}
.background-news{
    width: 100%;
    height: max-content;
}
.background-news h1{
    padding: 10px 30px;
    color: white;
    font-style: italic;
    margin-top: 2rem;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
.background-image{
    width: 100%;
    padding: 10px 50px;
    max-width: 80vw;
}
.background-image img{
    width: 100%;
    height: 100%;
}
.partnership-ends{
    padding: 50px 30px;
    color: white;
    margin-top: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.partnership-ends{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.partnership-ends h2{
    margin-left: 2rem;
    font-size: 20px;
    padding: 20px 5px;
    font-style: italic;
    font-size: 30px;
    text-transform: uppercase;
}
.partnership-ends p, h1{
    color: white;
    margin-left: 2rem;
    font-size: 18px;
    padding: 0;
    letter-spacing: 0.9px;
}
.partnership-ends h1{
    font-style: italic;
    font-size: 30px;
    padding: 10px 25px;
}
.partnership-ends ul{
    margin-left: 2rem;
    padding: 1rem 2rem;
}
.partnership-ends ul li{
    list-style: disc;
    font-size: medium;
}
.end{
    padding: 20px 1px;
}
.section-border{
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.568);
}
/*news section*/
.cards{
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card h5 a{
    text-decoration: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.603);
    color: gray;
}
.card h5{
    margin-left: 1rem;
    font-size: medium;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 60vw;
}
.image{
    width: 100%;
    padding: 10px 20px;
    height: auto;
}
.image img{
    width: 100%;
    height: 100%;
}
.card h1{
    font-style: italic;
    text-align: start;
    padding: 20px 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.content{
    padding: 10px 20px;
    display: flex;
    font-size: 18px;
    letter-spacing: 0.8px;
    flex-direction: column;
    gap: 10px;
}
.btns{
    display: flex;
    gap: 10px;
    padding: 20px 30px;
}
.btns a{
    padding: 5px 8px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid;
}
.two-images{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 30px;
    justify-content: center;
}
.image1{
    width: 50%;
    height: 300px;
}
.image1 img{
    width: 100%;
    height: 100%;
}
.main-section{
    display: flex;
    justify-content: space-around;
    padding: 50px 10px;
}
.archives h1{
    font-style: italic;
    font-size: 45px;
}
.archives ul{
    margin-left: 2rem;
    padding: 5px 20px;
}
.archives  a{
    text-decoration: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    color: gray;
    font-size: 20px;
}
.archives p{
    padding: 30px 5px;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 0.8px;
}
/*news section*/

/*reports*/
.reports-bg{
    height: 600px;
    width: 100%;
}
.reports-bg img{
    width: 100%;
    height: 100%;
}
.reports-introduction{
    padding: 10px 20px;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    gap: 10px;
}
.reports-introduction button{
    width: max-content;
    padding: 1rem 1.5rem;
    color: white;
    background-color: gray;
    border: none;
    outline: none;
    margin: 20px 10px;
}
.reports-introduction button:hover{
    background-color: rgba(0, 0, 255, 0.466);
    transition: 0.6s;
}
.reports-introduction button a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.reports-introduction h1{
    font-style: italic;
    font-size: 48px;
    text-transform: uppercase;
}
.reports-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
}
.report-card{
    width: 100vw;
    padding: 10px 20px;
    display: flex;
}
.image2{
    width: 50%;
    height: auto;
}
.image2 img{
    width: 100%;
    height: 100%;
}
.report-text{
    width: 60%;
}
.report-text h1{
    font-style: italic;
    text-transform: uppercase;
    text-align: start;
    font-family: 'Times New Roman', Times, serif;
}
.report-text ol{
    margin-left: 3rem;
}
.report-text ul{
    margin-left: 1rem;
}
.report-text ul li{
    list-style: none;
    padding: 5px;
}
.report-text ol li{
    list-style-type: disc;
    padding: 5px;
}
.report-text h4{
    margin-left: 1rem;
    padding: 5px;
    font-style: italic;
}
.report-text h1,p{
    margin-left: 1rem;
    padding: 5px;
}
.report-text{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*reports*/
footer{
    padding: 20px 5px;
    color: white;
    font-size: small;
}

@media (max-width: 600px) {
    .report-card{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .report-text, .image2{
        width: 90%;
    }
    .card{
        width: 90%;
        max-width: 100vw;
    }
    .cards{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .main-section{
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }
    .background-image{
        width: 80vw;
        height: auto;
    }
}